@CHARSET "UTF-8";


.comment{
	margin-top:30px;
	margin-bottom:30px;
	padding:20px;
	clear:both;
}
#c_content{
	overflow: hidden;
	text-align:center;
	clear:both;	
	margin-left:60px;
	margin-right:60px;
	margin-top:10px;
	margin-bottom:10px;
}

<!-- write your comment-->
